body {
  background-color: #f4f4fd;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: 220px;
}

.form-section {
  background-color: rgba(54, 86, 231, 0.829);
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.form-input {
  height: 20px;
  width: 300px;
}

.gallery {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  width: calc((100% - 45px) / 4);
}

.info {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.info-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  display: block;
  margin: 0 auto;
}

.lower-text {
  font-weight: 400;
  font-size: 14px;
}

.load-more {
  padding: 3px 10px;
  background-color: rgba(54, 86, 231, 0.829);
  border-radius: 5px;
  border: 1.5px solid #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px auto;
}

.load-more:disabled{
  background-color: rgba(128, 128, 128, 0.212);
  color:#000
}

.no-more-resalts{
  width: 400px;
  display: flex;
  margin: 20px auto;
  border: 1px solid black;
  padding: 5px;
  justify-content: center;
  border-radius: 15px;
}

.is-hidden{
  display: none;
}

.loader {
    width: 18px;
    height: 18px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 